@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-weight: normal;
  min-height: calc(100vh + 192px);
  display: flex;
  flex-direction: column;

  background-color: #f3f4f6;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
  }
}

input:focus {
  outline: solid 2px #2563eb;
}


/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: flex-start;
  }

  #app {
    flex-direction: column;

    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */